services:
  sunshine:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    volumes:
      - /mnt/steam/data:/home/lizard/.local/share/Steam
      - /mnt/games:/mnt/games       
    devices:
      - /dev/nvidia0:/dev/nvidia0
      - /dev/nvidiactl:/dev/nvidiactl
      - /dev/nvidia-uvm:/dev/nvidia-uvm
      - /dev/nvidia-uvm-tools:/dev/nvidia-uvm-tools
      - /dev/nvidia-caps:/dev/nvidia-caps
    ports:
      - 47984-47990:47984-47990/tcp
      - 48010:48010/tcp
      - 47998-48000:47998-48000/udp
